html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#pop {
    width: 800px;
    height: 90%;
    position: relative;
    margin: auto;
}

button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.popcar {
    /* background: paleturquoise; */
    display: inline-block;
    width: 800px;
    height: 1200px;
    margin: auto;
}

.popcar img {
    width: 800px;
}

#corn {
    display: inline-block;
    position: absolute;
    width: 280px;
    height: 230px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

#corn img {
    max-width: 300px;
}